/* Projects Section */
.projects {
    padding: 5rem 2rem;
}

.reveal-item-wrapper {
    height: 100%;
}

.projects-more {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .projects {
        padding: 4rem 1rem;
    }
}
